body{
    background-color: beige;
    color: rgb(176, 46, 13);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    height: 700px;
    margin: 0;
}
button{
    background-color: rgba(130, 230, 119, 0.748);
    color: rgb(108, 227, 76);
    font-family: cursive;
}